<h1>Listar Trabajadores</h1>

<div class="secccionsearchcreatetrabajador">
  <button mat-raised-button color="primary">Crear un trabajador</button>
</div>
<br />
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <ng-container matColumnDef="nombrescompletos">
    <th mat-header-cell *matHeaderCellDef>Nombres</th>
    <td mat-cell *matCellDef="let element">{{ element.nombrescompletos }}</td>
  </ng-container>

  <ng-container matColumnDef="tipodocumento">
    <th mat-header-cell *matHeaderCellDef>Tipo Documento</th>
    <td mat-cell *matCellDef="let element">{{ element.tipodocumento }}</td>
  </ng-container>
  <ng-container matColumnDef="numerodoc">
    <th mat-header-cell *matHeaderCellDef>Numero Documento</th>
    <td mat-cell *matCellDef="let element">{{ element.numerodoc }}</td>
  </ng-container>
  <ng-container matColumnDef="fechaNac">
    <th mat-header-cell *matHeaderCellDef>Fecha Nacimiento</th>
    <td mat-cell *matCellDef="let element">
      {{ element.fechaNac | date: "dd.MM.yyyy" }}
    </td>
  </ng-container>
  <ng-container matColumnDef="fechaIng">
    <th mat-header-cell *matHeaderCellDef>Fecha Nacimiento</th>
    <td mat-cell *matCellDef="let element">
      {{ element.fechaIng | date: "dd.MM.yyyy" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="options">
    <th mat-header-cell *matHeaderCellDef>Opciones</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-raised-button
        aria-label="active icon button with a delete icon"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-raised-button aria-label=" icon button with a edit icon">
        <mat-icon>edit</mat-icon>
      </button>
      <button
        (click)="openDialog(element)"
        mat-raised-button
        aria-label=" icon button with a edit icon"
      >
        <mat-icon>open_in_new</mat-icon>
        <span>ver hijos</span>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
